.mensaje {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    /* margin-bottom: 15px; */
    width: fit-content;
    max-width: 90%;
    border-radius: 7px;
    background-color: rgba(224, 224, 224, 0.479);

    p {
        overflow-wrap: anywhere;
    }
}